:host(boxed-quote) {
    display: grid;
    grid-template-columns: 1fr 24fr;
    margin: 12px 0;
    max-height: 100%;
}

:host(boxed-quote) .img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
}

:host(boxed-quote)::before {
    content: "";
    background-image: linear-gradient( var(--accent-color), var(--accent-color) ), var(--background-img);
}

:host(boxed-quote) .text {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: var(--modal-bg);
    font-style: italic;
    font-size: 0.92em;
    padding: calc(2px + 1vw) calc(2px + 1.5vw)
}

:host(boxed-quote) .text > .wrapper :first-child {
    margin-top: 0;
}

:host(boxed-quote) .text > .wrapper :last-child {
    margin-bottom: 0;
}