:host(slidedown-box) {
    margin: 12px 0;
    display: grid;
    grid-template-columns: 1fr 24fr;
    background: var(--modal-bg); 
}

:host(slidedown-box) .modal-body {
    display: flex;
    flex-direction: column;
}

:host(slidedown-box)::before {
    content: "";
    background-image: linear-gradient( var(--accent-color), var(--accent-color) ), var(--background-img);
}

:host(slidedown-box) .modal-body button {
    all: unset;
    display: block;
    margin: 0;
    padding: calc(2px + 1vw) calc(2px + 1.5vw);
    border-bottom: var(--border) 1px solid;
    font-weight: bold;
    font-style: italic;
    transition: background-color 0.5s ease;
}

:host(slidedown-box) .modal-body button:hover {
    background: var(--modal-hover);
    cursor: pointer;
}

:host(slidedown-box) .modal-body button:focus-visible {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

:host(slidedown-box) .modal-body .modal-content {
    font-size: 0.92em;
    padding: 0 calc(2px + 1.5vw);
}